body {
  font-family: Glacial Indifference, sans-serif;
  width: 100%;
  color: blue;
}
h1 {
  width: auto; margin: auto;
  font-size: 20px;
  line-height: 25px;
}
h2 {
  font-size: 20px;
  line-height: 25px;
}
h3 {
  font-size: 20px;
  line-height: 25px;
}
h4 {
  font-size: 20px;
  line-height: 25px;
}
.paragraph{
  margin-top: 10px;
  top: 300px;
  padding-top: 200px; padding-bottom: 50px;
  padding:10px;
  position: relative;
  display: block;
  background-color: white;
  opacity: 0.5;
  width: 300px;
  margin: auto;
  vertical-align:middle;
  align-self: center;
  align-text: center;
  float: center;
  text-align: center;
}
